@model AppRestaurante.ViewModel.TableViewModel

<fieldset>
    <legend>Nova Mesa</legend>

    @using (Html.BeginForm("InsertNewTable", "Table", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(m => m.TableDescription, new { style = "font-size: 12pt;" })
                @Html.TextBoxFor(m => m.TableDescription, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.TableDescription, null, new { style = "font-size: 12pt;", @class = "text-danger" })
            </div>  
        </div>

        <br />

        <div class="row">
            <div class="col-md-12">
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </div>
        @Html.ValidationSummary(false, null, new { style = "font-size: 10pt;", @class = "text-danger fw-bold" })
    }
</fieldset>